<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'djangoapp:about' %}">About us</a>
                    <a href="{% url 'djangoapp:contact' %}">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- body -->
    <h1>
        Best Cars contact details
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut veritatis, distinctio quod, suscipit laudantium
        ducimus quam qui provident ea quidem commodi. Repudiandae exercitationem labore excepturi? Inventore ducimus
        totam incidunt corrupti?</p>
</body>

</html>